{% extends "TutoBundle::Layout.html.twig" %}
{% block title %}TutoBundle:Article{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    {% block content %}
        {% if  app.request.hasPreviousSession %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.description)}}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imageUrl)}}
            {{ form_widget(form.imageUrl, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_row(form.create, {'attr': {'class': 'btn btn-info'}}) }}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}

