{% extends "TutoBundle::Layout.html.twig" %}
{% block title %}TutoBundle:NOte{% endblock %}
{% block body %}
 <h3>Etudiant :</h3> {{ etudiant.nom }}  {{ etudiant.prenom }} :<br>
    {#<form action="{{ path(app.session.get('url')) }}" method="get">#}
    {% if notes %}
        {% for note in notes  %}
            matiere : {{ note.matiere.nomMatiere }} : {{ note.note }}<br>
        {% endfor %}
     {% else %}
        cet etudiant n'a pas encore de note
    {% endif %}
    {#<input type="submit" value="preview"/>#}
        <a href="javascript:history.go(-1)">Preview</a>
    {#</form>#}
{% endblock %}
