{% extends "::base.html.twig" %}
{% block nav %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- logo -->
        <a class="navbar-brand" href="#"></a>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a class="nav-link" href="{{ path('base')}}"> ACCUEIL</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    ETUDIANT
                </a>
                <div class="dropdown-menu">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="dropdown-item" href="{{ path('createEtudiant')}}">Creer</a>
                    {%endif%}
                    <a class="dropdown-item" href="{{ path('listEtudiant')}}">Listes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    MATIERE
                </a>
                <div class="dropdown-menu">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="dropdown-item" href="{{ path('createMatiere')}}">Creer</a>
                    {%endif%}
                    <a class="dropdown-item" href="{{ path('listMatiere')}}">Listes</a>
                </div>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        NOTE
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('createNote')}}">Creer</a>
                    </div>
                </li>
            {%endif%}
            <li class="nav-item" ><a class="nav-link" href="{{ path('forum')}}"> FORUM</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        ARTICLE
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('createArticle')}}">Creer</a>
                        <a class="dropdown-item" href="{{ path('listArticle')}}">Listes</a>
                    </div>
                </li>
                <li class="nav-item" ><a class="nav-link" href="{{ path('uploadFile')}}"> Upload File</a></li>
            {%endif%}
            <li class="nav-item" ><a class="nav-link" href="{{ path('listParole')}}"> PAROLES</a></li>
        </ul>
        <!-- link -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" ><a class="nav-link" href="{{ url('base') }}register"> S'INSCRIRE</a></li>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="nav-item" ><a class="nav-link" href="{{ url('base') }}logout"> SE DECONNECTER</a></li>
            {% else %}
                <li class="nav-item" ><a class="nav-link" href="{{ url('base') }}login"> SE CONNECTER</a></li>
            {%endif%}
        </ul>
    </nav>
{% endblock %}