{% extends "TutoBundle::Layout.html.twig" %}
{% block title %}TutoBundle:Etudiant:Create{% endblock %}
{% block body %}
    <h1>Create Student</h1>
    {% block content %}
        {% if  app.request.hasPreviousSession %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {{ form_start(form) }}
        {% if form_errors(form.nom) %}
            <div class="alert alert-danger">
                {{ form_errors(form.nom) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.nom)}}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        {% if form_errors(form.prenom) %}
            <div class="alert alert-danger">
                {{ form_errors(form.nom) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_row(form.create, {'attr': {'class': 'btn btn-info'}}) }}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}

